<p>
  <strong>Username:</strong>
  <%= user.username %>
</p>

<p>
  <strong>email:</strong>
  <%= user.email %>
</p>

<p>
    <strong>phonenumber:</strong>
    <%= user.phonenumber %>
</p>

<p>
    <strong>address:</strong>
    <%= user.address %>
</p>

<p>
    <strong>admin:</strong>
    <%= user.admin %>
</p>

<%# <% render @user.usercards %> %>
